<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futuremap.erp.module.quotation.mapper.QuotationTotalMapper">
    <resultMap id="resultMap" type="com.futuremap.erp.module.quotation.entity.QuotationTotal"/>
    <select id="findList" resultMap="resultMap"
            parameterType="com.futuremap.erp.module.quotation.entity.QuotationTotalQuery">
        SELECT
        ${quotationTotalQuery.columnVisit}

        FROM
        quotation_total
        <where>
            <if test="quotationTotalQuery.id !=null">
                and id = #{quotationTotalQuery.id}
            </if>
            <if test="quotationTotalQuery.startDate!=null ">
                and ddate >= #{quotationTotalQuery.startDate}
            </if>
            <if test="quotationTotalQuery.endDate!=null ">
                <![CDATA[   and ddate < #{quotationTotalQuery.endDate}]]>
            </if>
            <if test = "quotationTotalQuery.csocode!=null and quotationTotalQuery.csocode !=''">
                and csocode = #{quotationTotalQuery.csocode}
            </if>
            <if test = "quotationTotalQuery.irowno !=null">
                and irowno = #{quotationTotalQuery.irowno}
            </if>
            <if test = "quotationTotalQuery.cinvcode!=null and quotationTotalQuery.cinvcode !=''">
                and cinvcode like  CONCAT("%",#{quotationTotalQuery.cinvcode},"%")
            </if>
            <if test="quotationTotalQuery.minQuotationCost!=null ">
                and quotation_cost >= #{quotationTotalQuery.minQuotationCost}
            </if>
            <if test="quotationTotalQuery.maxQuotationCost!=null ">
                <![CDATA[   and quotation_cost < #{quotationTotalQuery.maxQuotationCost}]]>
            </if>
            <if test="quotationTotalQuery.minActualCost!=null ">
                and actual_cost >= #{quotationTotalQuery.minActualCost}
            </if>
            <if test="quotationTotalQuery.maxActualCost!=null ">
                <![CDATA[   and actual_cost < #{quotationTotalQuery.maxActualCost}]]>
            </if>
            <if test="quotationTotalQuery.minDiffRadio!=null ">
                and diff_radio >= #{quotationTotalQuery.minDiffRadio}
            </if>
            <if test="quotationTotalQuery.maxDiffRadio!=null ">
                <![CDATA[   and diff_radio < #{quotationTotalQuery.maxDiffRadio}]]>
            </if>
            <if test = "quotationTotalQuery.companyCode !=null">
                and company_code = #{quotationTotalQuery.companyCode}
            </if>

        </where>

    </select>
</mapper>
