<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hlpay.base.mapper.SaScoreTypeMapper" >
  <resultMap id="saScoreTypeMap" type="org.hlpay.base.model.SaScoreType" >
    <id column="TYPE_ID" property="typeId"/>
    <result column="TYPE_NAME" property="typeName"/>
    <result column="TYPE_CODE" property="typeCode"/>
    <result column="TYPE_COMMENT" property="typeComment"/>
    <result column="CREATE_TIME" property="createTime"/>
    <result column="STATUS" property="status"/>
    <result column="IS_DELETE" property="isDelete"/>
    <result column="FLAG" property="flag"/>
  </resultMap>

  <!--表名 -->
  <sql id="tableName">
	sa_score_type
  </sql>

  <!-- 字段 -->
  <sql id="Field">
  	TYPE_ID,
	TYPE_NAME,
	TYPE_CODE,
	TYPE_COMMENT,
	CREATE_TIME
  </sql>

  <insert id="save">
  	insert into
  		<include refid="tableName"></include>
  	(
  		<include refid="Field"></include>
  	)
  	values(
  		   replace(uuid(),'-',''),#{typeName},#{typeCode},#{typeComment},now()
  		   )
  </insert>

   <select id="info" resultMap="saScoreTypeMap">
  	select
  		*
  	from <include refid="tableName"></include>
  	where 1=1
  	<if test="typeName != null and typeName != ''">
  		and TYPE_NAME=#{typeName}
  	</if>
  	<if test="typeId != null and typeId != ''">
  		and TYPE_ID=#{typeId}
  	</if>
  </select>

  <select id="select" resultMap="saScoreTypeMap">
  	select
  		*
  	from <include refid="tableName"></include>
  	where 1=1
  </select>
</mapper>
